$a-black: #000;
$a-white: #fff;
$a-gray: #eaeaea;
$a-fb-blue: #3b5998;
$a-link: #708c78;

$a-header-size: 60px;
$a-social-font-size: 40px;
$a-social-dimension: 32px;

$a-opacity: 0.75;
$a-carousel-caption-opacity: 0.5;